* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #6b7fd7;
}

html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	display: grid;
}
/* NavBar Section */

.About a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.About a:hover {
	border-bottom: 1px solid #FF499E;
}

/* About Section */

.container-about {
	display: grid;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-template-areas:
	'nav nav nav nav'
	'Aboutme Aboutme Aboutme Image1'
	'Education Education Education Image2'
	'Experience Experience Experience Image3';
	grid-gap: 5vh;
	margin: 10vh 5vw;
}

#page-nav{
	grid-area: nav;
	width: 40vw;
	height: 10vh;
	justify-self: center;
	display: flex;
	justify-content: space-between;
}

#page-nav li{
	margin: 0.5rem;
}

#page-nav li a:hover{
	color: #FF499E;
}

#aboutme {
	grid-area: Aboutme;
	max-width: 40vw;
}

.para {
	padding: 0.5rem;
	text-align: justify;
	line-height: 30px;
	letter-spacing: 1px;
}

#education {
	grid-area: Education;
	max-width: 40vw;
}

#education ul {
		display: grid;
	grid-row-gap: 0.75rem;

}
#education ul li{
	font-weight: bold;
}

#experience {
	grid-area: Experience;
	max-width: 40vw;
}

.container-about ul {
	list-style-type: none;
	padding: 0.5rem;
}

.image1 {
	grid-area: Image1;
	max-height: 100px;
	max-width: 100px;
}

.image2 {
	grid-area: Image2;
	max-height: 100px;
	max-width: 100px;
}

.image3 {
	grid-area: Image3;
	max-height: 100px;
	max-width: 100px;
}

.footer{
	display: grid;
	justify-content: end;
	align-content: center;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);

}
.endnote {
	text-align: center;
	color: #fff;
	display: inline-block;
} 

.socialmedia {
	display: inline-block;
	grid-column: 3 / span 1;
	align-self: start;
	justify-self: end;
	margin: 0 0.75rem auto;
}

.socialmedia ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: flex-end;
}
.socialmedia ul li a {
	font-size: 2rem;
	display: inline-block;
	padding: 0.75rem 0.75rem 0 0.75rem;
}

@media only screen and (max-width: 600px) {

}