* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #6b7fd7;
}

html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	display: grid;
}
/* NavBar Section */

#navbar {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 0.75rem;
	height: 100px;
}

#navbar ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 0.5rem;
}

#navbar ul li a {
	padding: 0.5rem;
}

.About a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.About a:hover {
	border-bottom: 1px solid #FF499E;
}

#navbar a:active {
	color: #233480;
	border-bottom: 1px solid #233480;
}

#logo {
	justify-self: center;
}
#logo img{
	align-self: flex-start;
	padding: 0.5rem 0.75rem;

}

#logo img:hover {
	 transform: scaleX(-1);
/*	width: 125px;
	height: 125px;*/
}

#logo a:hover {
	border: none;
}

#resume {
	padding: 0.5rem;
	border: 2px solid #6b7fd7;
	border-radius: 4px;
}

#resume a{
	padding: 0.5rem;
}

#resume:hover {
	background: #6b7fd7;
}

#resume:active {
	background: #233480;
}

#resume a:hover{
	color: #fff;
}

/* About Section */

.container-about {
	display: grid;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-template-areas:
	'Aboutme Aboutme Aboutme'
	'Education Education Education'
	'Experience Experience Experience';
	grid-gap: 5vh;
	margin: 0 5vh;
}

.aboutme {
	grid-area: Aboutme;
}

.education {
	grid-area: Education;
}

.experience {
	grid-area: Experience;
}

.container-about ul {
	list-style-type: none;
	padding: 0.5rem;
}


.footer{
	display: grid;
	justify-content: end;
	align-content: center;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);

}
.endnote {
	text-align: center;
	color: #fff;
	display: inline-block;
} 

.socialmedia {
	display: inline-block;
	grid-column: 3 / span 1;
	align-self: start;
	justify-self: end;
	margin: 0 0.75rem auto;
}

.socialmedia ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: flex-end;
}
.socialmedia ul li a {
	font-size: 2rem;
	display: inline-block;
	padding: 0.75rem 0.75rem 0 0.75rem;
}

@media only screen and (max-width: 600px) {

	body {
		grid-gap: 2px;
	}
	
	#home {
		justify-content: center;
		margin: 0;
		margin-top: 25px;
		margin-bottom: 70px;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	#picture {
		grid-column: 3 / span 2;
		grid-row: 1 / span 1;
		align-self: center;
		max-width: 200px;
		justify-self: center;
	}
	#welcome_msg {
	grid-column: 2 / span 4;
	grid-row: 2 /span 2;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-gap: 24px;
	text-align: center;
	align-self: center;
	}
	body {
	display: grid;
	}
	footer {
		max-height: 40px;
	}

	.socialmedia{
		grid-column: 2 / span 1;
	}

		#logo img{
		max-width: 100px;
		align-self: center;
		justify-self: center;
	}
	#navbar {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 0.75rem;
	height: 100px;
	}

	#navbar ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem;
	}

	#navbar ul li a {
		padding: 0.5rem;
	}

	#navbar a:hover {
		border-bottom: 1px solid #6b7fd7;
	}

	#navbar a:active {
		color: #233480;
		border-bottom: 1px solid #233480;
	}


	#logo {
		justify-self: center;
	}
	#logo img{
		align-self: flex-start;
		padding: 0.5rem 0.75rem;

	}

	#logo img:hover {
		 transform: scaleX(-1);
	/*	width: 125px;
		height: 125px;*/
	}

	#logo a:hover {
		border: none;
	}

	#resume {
		padding: 0.5rem;
		border: 2px solid #6b7fd7;
		border-radius: 4px;
	}

	#resume a{
		padding: 0.5rem;
	}

	#resume:hover {
		background: #6b7fd7;
	}

	#resume:active {
		background: #233480;
	}

	#resume a:hover{
		color: #fff;
	}
}