* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #6b7fd7;
}

html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	display: grid;
}
/* NavBar Section */

#navbar {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 0.75rem;
	height: 100px;
}

#navbar ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 0.5rem;
}

#navbar ul li a {
	padding: 0.5rem;
}

.Contact a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #6b7fd7;
}

.About a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover {
	border-bottom: 1px solid #FF499E;
}

#navbar a:active {
	color: #233480;
	border-bottom: 1px solid #233480;
}

#logo {
	justify-self: center;
}
#logo img{
	align-self: flex-start;
	padding: 0.5rem 0.75rem;

}

#logo img:hover {
	 transform: scaleX(-1);
/*	width: 125px;
	height: 125px;*/
}

#logo a:hover {
	border: none;
}

#resume {
	padding: 0.5rem;
	border: 2px solid #6b7fd7;
	border-radius: 4px;
}

#resume a{
	padding: 0.5rem;
}

#resume:hover {
	background: #6b7fd7;
}

#resume:active {
	background: #233480;
}

#resume a:hover{
	color: #fff;
}

/* Form Section */

#contact {

	padding: 1rem;
}

.form-group {
	padding: 0.25rem 0;
}

form {
	color: #fff;
	background-color: #6b7fd7;
	padding: 5rem;
	text-align: center;
	border-radius: 15px;
	margin: 2% 10%;
}

input[type="text"] {
  min-height: 15px;
  border-radius: 5px;
  border:1px solid #cccccc;
}

.button {
	width: 75%;
	text-align: center;
	margin-bottom: 1rem auto;
	background: #fff;
	font-size: 1.25rem;
	border-radius: 10px;
	font-family: "Open Sans", sans-serif;
}

.form-group {
	padding-bottom: 0.25rem 0;
}

.form-group label{
	display: block;
}

.form-control {
	width: 75%;
	padding: 0.4rem;
	font-size: 1rem;
	resize: none;
	border-radius: 5px;
}

.aboutme {
	grid-area: Aboutme;
}

.intro {
	padding: 0.5rem;
}

.education {
	grid-area: Education;
}

.experience {
	grid-area: Experience;
}

.container-about ul {
	list-style-type: none;
	padding: 0.5rem;
}

.footer{
	display: grid;
	justify-content: end;
	align-content: center;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);

}
.endnote {
	text-align: center;
	color: #fff;
	display: inline-block;
} 

.socialmedia {
	display: inline-block;
	grid-column: 3 / span 1;
	align-self: start;
	justify-self: end;
	margin: 0 0.75rem auto;
}

.socialmedia ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: flex-end;
}
.socialmedia ul li a {
	font-size: 2rem;
	display: inline-block;
	padding: 0.75rem 0.75rem 0 0.75rem;
}

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
	'form form form'
	'footer footer footer';
	justify-content: space-between;
	align-items: center;
	align-content: center;
	grid-gap: 3vh;
}


header {
	grid-area: header;
}

#contact {
	grid-area: form;
}

.letsmeet {
	color: #6b7fd7;
}

footer {
	grid-area: footer;
	align-self: end;
}


@media only screen and (max-width: 600px) {

	body {
		grid-gap: 2px;
	}

	body {
	display: grid;
	}
	footer {
		max-height: 40px;
	}

	.socialmedia{
		grid-column: 2 / span 1;
	}

		#logo img{
		max-width: 100px;
		align-self: center;
		justify-self: center;
	}
	.grid-container {
	grid-gap: 5vh;
}
}