* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #6b7fd7;
}

html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	display: grid;
}
/* NavBar Section */

#navbar {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 0.75rem;
	height: 100px;
}

#navbar ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
}

#navbar ul li a {
	padding: 0.5rem;
}

#navbar a:hover {
	border-bottom: 1px solid #6b7fd7;
}

#navbar a:active {
	color: #233480;
	border-bottom: 1px solid #233480;
}


#logo {
	justify-self: center;
}
#logo img{
	align-self: flex-start;
	padding: 0.5rem 0.75rem;

}

#logo img:hover {
	 transform: scaleX(-1);
/*	width: 125px;
	height: 125px;*/
}

#logo a:hover {
	border: none;
}

#resume {
	padding: 0.5rem;
	border: 2px solid #6b7fd7;
	border-radius: 4px;
}

#resume a{
	padding: 0.5rem;
}

#resume:hover {
	background: #6b7fd7;
}

#resume:active {
	background: #233480;
}

#resume a:hover{
	color: #fff;
}

/* Home Section */

#home {
	display: grid;
	max-width: 1200px;
	max-height: 1000px;
	margin: 10vh auto;
	grid-gap: 10px;
	grid-template-columns: 5% repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin-left: 24px;
	align-items: center;
	justify-content: end;
	align-content: center;
}

#picture {
	grid-column: 5 / span 2;
	grid-row: 1/ span 2;
	justify-self: end;
	max-width: 300px;
	min-width: 50px;
	overflow: hidden;
}

#picture img {
	max-width: 100%;
	height: auto;
}

#welcome_msg {
	grid-column: 2 / span 3;
	grid-row: 2 /span 2;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-gap: 24px;
	text-align: right;
	align-self: start;
}

.footer{
	display: grid;
	justify-content: end;
	align-content: center;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);

}
.endnote {
	text-align: center;
	color: #fff;
	display: inline-block;
} 

.socialmedia {
	display: inline-block;
	grid-column: 3 / span 1;
	align-self: start;
	justify-self: end;
	margin: 0 0.75rem auto;
}

.socialmedia ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: flex-end;
}
.socialmedia ul li a {
	font-size: 2rem;
	display: inline-block;
	padding: 0.75rem 0.75rem 0 0.75rem;
}

@media only screen and (max-width: 500px) {

	body {
		grid-gap: 2px;
	}
	
	#home {
		justify-content: center;
		margin: 0;
		margin-top: 25px;
		margin-bottom: 70px;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	#picture {
		grid-column: 3 / span 2;
		grid-row: 1 / span 1;
		align-self: center;
		max-width: 200px;
		justify-self: center;
	}
	#welcome_msg {
	grid-column: 2 / span 4;
	grid-row: 2 /span 2;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-gap: 24px;
	text-align: center;
	align-self: center;
	}
	body {
	display: grid;
	}
	footer {
		max-height: 40px;
	}

	.socialmedia{
		grid-column: 2 / span 1;
	}
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

/*

yıldız bütün sayfayı kapsayan seçici

*{
	font-size: 44px;
}
*/

/*body{

	background-image: url("images/logo_btn.png");
	background-size: 100px;
	background-repeat: no-repeat;
}*/


/*h1{
	margin: 0 auto;
	font-size: 24px;*/
/*	background-color: white;*/
/*	color: rgb(255,0,0);
	opacity: 0.4;
	text-align: center;
	display: inline-block;*/
/*	margin: 100px 100px;
}

#Education{
	width: 400px;
	height: 100px;
	border: 1px solid black;
	overflow: auto;
}

#Education span{
	font-size: 50%;
	font-style: italic;
	font-weight: bold;
}

#topnav{
	box-sizing: border-box;
	font-size: 36px;
	border: 5px solid black;
	width: 200px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;


}

#Introduction{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: 64px;
}

#main{
font-size: 1em;
}

#info{
	font-size: 50%;
	line-height: 90%;
}



.emphasis1{
	color: #192934;
		text-decoration: line-through;
}

.emphasis1:hover{

	color: red;
	text-decoration: none;
}

.emphasis2{
	color: #203942;
	text-transform: uppercase;
}

.emphasis2:hover{
	color: white;
}

a{
	text-decoration: none;
	color: black;
}

a:active{
	background-color: black;
}

a:hover{
	color: #AA213291;
}

input{
	width: 70%;
	height: 200px;
	font-size: 200%;
	text-align: left;
	padding: 5px 50px 50px 5px;
	border-radius: 4px;
	border: 1px solid black;
	box-sizing: border-box;
}

input:focus{
	outline: 0;
	border: 2px solid red;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
/*a:visited{
	color: red;
}*/