/* NavBar Section */

.About a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.About a:hover {
	border-bottom: 1px solid #FF499E;
}

/* About Section */

.container-about {
	display: grid;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-template-areas:
	'Aboutme Aboutme Aboutme Image1';
	grid-gap: 5vw;
	margin: 11.2vh 5vw;
}

#aboutme {
	grid-area: Aboutme;
	max-width: 55vw;
}

#aboutme h3 {
	color: #FF499E;
	font-size: 2.5rem;
}


#about p {
	padding: 0.5rem;
	text-align: justify;
	line-height: 1.5rem;
}


.image1 img {
	grid-area: Image1;
	width: 350px;
	align-self: center;
}

@media only screen and (max-width: 700px) {

	.container-about {
		display: grid;
		justify-content: center;
		grid-template-areas:
		'Image1'
		'Aboutme';
		margin: 0 5vw 5vh 5vw;
		grid-gap: 5vh;
	}


	#aboutme {
		grid-area: Aboutme;
		min-width: 80vw;
	}

	.image1 {
		grid-area: Image1;
		justify-self: center;
	}


}