/* NavBar Section */

.Contact a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #6b7fd7;
}

.About a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover {
	border-bottom: 1px solid #FF499E;
}

/* Form Section */

.container-contact p {
	margin: 1vh 20vw 4.75vh 20vw;
	text-align: center;
	line-height: 1.5rem;
}

#contact {

	padding: 1rem;
}

.form-group {
	padding: 0.25rem 0;
}

form {
	color: #fff;
	background-color: #6b7fd7;
	padding: 4rem;
	padding-top: 1.25rem;
	padding-bottom: 2rem;
	text-align: center;
	border-radius: 15px;
	margin: 5vh 20vw 2.8vh 20vw;
}

input[type="text"] {
	min-height: 15px;
	border-radius: 5px;
	border:1px solid #cccccc;
}

.button {
	width: 40%;
	text-align: center;
	background: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8;
}

.button.hover {
	opacity: 0.5;
}

.form-group {
	padding-bottom: 1rem;
}

.form-group label{
	display: block;
	line-height: 2rem;
}

.form-control {
	width: 75%;
	padding: 0.4rem;
	font-size: 1rem;
	resize: none;
	border-radius: 5px;
}


.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
	'form form form'
	'footer footer footer';
	justify-content: space-between;
	align-items: center;
	align-content: center;
}


header {
	grid-area: header;
}

#contact {
	grid-area: form;
}

#letsmeet {
	color: #FF499E;
}

footer {
	grid-area: footer;
	align-self: end;
}

textarea {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	border-style: none;
}

button {
	text-decoration: none;
	border-style: none;
	font-family: "Open Sans", sans-serif;
	font-size: 1.25rem;
	color: #6b7fd7;
	width: 50%;
	border:1px solid #cccccc;

}


@media only screen and (max-width: 600px) {

	body {
		grid-gap: 2px;
	}

	body {
		display: grid;
	}
	footer {
		max-height: 40px;
	}

	.socialmedia{
		grid-column: 2 / span 1;
	}

	#logo img{
		max-width: 100px;
		align-self: center;
		justify-self: center;
	}
	.grid-container {
		grid-gap: 5vh;
	}

	form {
		color: #fff;
		background-color: #6b7fd7;
		padding: 2rem;
		text-align: center;
		border-radius: 10px;
		margin: 0 8vw 1vh 8vw;
		padding-top: 1rem;
	}

	.container-contact p {
		margin: 1vh 10vw 4.75vh 10vw;
		text-align: center;
		line-height: 1.5rem;
	}

	header {
		margin-bottom: 0;
	}


}