
/* NavBar Section */

#navbar a:hover {
	border-bottom: 1px solid #6b7fd7;
}

/* Home Section */

#home {
	display: grid;
	max-width: 1200px;
	max-height: 1000px;
	margin: 10.380vh auto;
	grid-gap: 10px;
	grid-template-columns: 5% repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin-left: 24px;
	align-items: center;
	justify-content: end;
	align-content: center;
}

#picture {
	grid-column: 5 / span 2;
	grid-row: 1/ span 2;
	justify-self: end;
	max-width: 300px;
	min-width: 50px;
	overflow: hidden;
}

#picture img {
	max-width: 100%;
	height: auto;
}

#welcome_msg {
	grid-column: 2 / span 3;
	grid-row: 2 /span 2;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-gap: 24px;
	text-align: right;
	align-self: start;
}




@media only screen and (max-width: 600px) {

	body {
		grid-gap: 2px;
	}
	
	#home {
		justify-content: center;
		margin: 0;
		margin-top: 25px;
		margin-bottom: 7.8vh;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	#picture {
		grid-column: 3 / span 2;
		grid-row: 1 / span 1;
		align-self: center;
		max-width: 200px;
		justify-self: center;
	}
	#welcome_msg {
		grid-column: 2 / span 4;
		grid-row: 2 /span 2;
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-gap: 24px;
		text-align: center;
		align-self: center;
	}


	#logo img{
		max-width: 100px;
		align-self: center;
		justify-self: center;
	}