/* NavBar Section */

.Projects a {
	color: #FF499E;
}

.Projects a:hover {
	border-bottom: 1px solid #FF499E;
}

.About a:hover  {
	border-bottom: 1px solid #6b7fd7;
}

.Contact a:hover {
	border-bottom: 1px solid #6b7fd7;
}


/* Main Section*/

#projects {
	display: block;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 100px repeat(4, 1fr);
	justify-content: space-between;
	align-content: center;
	grid-gap: 5px;
	align-items: center;
}


header {
	grid-column: 1 / span 6;
	grid-row: 1 / span 1;
}

#projects {
	grid-column: 2 / span 4;
	grid-row: 3 / span 4;

}

.container-project {
	display: grid;
	grid-template-areas: 
	'project1 project2'
	'project1 project2'
	'project3 project4'
	'project3 project4'
	'project5 project6'
	'project5 project6';
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 5vh auto;
	grid-gap: 1rem;

}

.project1 {
	grid-area: project1;
	width: 300px;
	height: 300px;
}

.project1 img {
	max-width: 300px;
	max-height: 300px;
}

.project1:hover {
	opacity: 0.7;
}

.project1 h2 {
	display: inline-block;
}
.project2 {
	grid-area: project2;
	width: 300px;
	height: 300px;
}

.project2 img {
	max-width: 300px;
	max-height: 300px;
}

.project2:hover {
	opacity: 0.7;
}

.project3 {
	grid-area: project3;
	width: 300px;
	height: 300px;
}

.project3 img {
	max-width: 300px;
	max-height: 300px;
}

.project3:hover {
	opacity: 0.7;
}

.project4 {
	grid-area: project4;
	width: 300px;
	height: 300px;
}
.project4 img {
	width: 300px;
	height: 300px;
}

.project4:hover {
	opacity: 0.7;
}

.project5 {
	grid-area: project5;
	width: 300px;
	height: 300px;
}
.project5 img {
	width: 300px;
	height: 300px;
}

.project5:hover {
	opacity: 0.7;
}

footer {
	grid-column: 1 / span 6;
	grid-row: 6 / span 1;
}


@media only screen and (max-width: 600px) {

	#logo img{
		max-width: 100px;
		align-self: center;
		justify-self: center;
	}

	.container-project {
		display: grid;
		grid-template-areas: 
		'project1'
		'project2'
		'project3'
		'project4'
		'project5';
		justify-content: center;
		align-items: center;
		align-content: center;

	}

	.project1 {
		grid-area: project1;
		width: 300px;
		height: 300px;
	}

	.project1 img{
		max-width: 300px;
		max-height: 300px;

	}
	.project2 {
		background-color: #8f44ad;
		grid-area: project2;
		width: 300px;
		height: 300px;
	}
	.project3 {
		background-color: #16a086;
		grid-area: project3;
		width: 300px;
		height: 300px;
	}
	.project4 {
		background-color: #e77e23;
		grid-area: project4;
		width: 300px;
		height: 300px;
	}
	.project5 {
		background-color: #e77e23;
		grid-area: project5;
		width: 300px;
		height: 300px;
	}
}
